body {
  @apply bg-white text-neutral-900 antialiased leading-relaxed;
}

.app-container {
  @apply max-w-7xl mx-auto px-6 md:px-10 lg:px-16;
}

@font-face {
  font-family: "Geist";
  src: url("https://fonts.googleapis.com/css?family=Geist:100,200,300,regular,500,600,700,800,900");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geist Mono";
  src: url("https://fonts.googleapis.com/css?family=Geist+Mono:100,200,300,regular,500,600,700,800,900");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Instrumental Sans";
  src: url("https://fonts.googleapis.com/css?family=Instrument+Sans:regular,500,600,700,italic,500italic,600italic,700italic");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  --font-sans-serif: "Geist", system-ui, sans-serif;
  --font-sans: "Instrumental Sans", system-ui, sans-serif;
  --font-mono: "Geist Mono", ui-monospace, monospace;
}